<head>
  <title>propertyFunding</title>
  <style>
body {
    background-color: #808080;
}
h1 {
    background-color: orange;
}
p {
    color: blue;
}

</style>
</head>

<body>
<h1><center>Welcome to PropertyFunding!</center></h1>
<p>*Please install Metamask plugin in chrome for the Example.</p>
<table><tr>
<td><img src="/img/property1.jpg" alt="Property first View" style="width:504px;height:228px;"> </td>
<td><img src="/img/property2.jpg" alt="Property Second View" style="width:504px;height:228px;"> </td>
<td><img src="/img/property3.jpg" alt="Property Third View" style="width:504px;height:228px;"></td>
</tr>
<tr>
<td>Property 1 </td><td>Property 2 </td><td>Property 3 </td>
</tr>
</table>
 <br> 
<br>
  {{> propertyName}}
  {{> investOnProperty}}  
  {{> checkGoalReached}}
  {{> payBackToClients}}  
</body>


<template name="propertyName">
  
  <b>Property Type</b>:- <select id='property'>
  <option value="-1" selected>Select Property...</option>
  <option value="property1">Property 1</option>
  <option value="property2">Property 2</option>
  <option value="property3">Property 3</option>
  </select><br><br><br>
  
  <p><b>Total Fund Required:</b> {{counter}} {{TemplateVar.get "counter"}} in ether.</p>
  
  <p><b>Amount Raised:</b>{{counter2}} {{TemplateVar.get "counter2"}} in ether.</p>
  
  <p><b>Funding Closing time:</b> {{counter3}} {{TemplateVar.get "counter3"}}.</p>
</template>


<template name="investOnProperty">
 
  

<h2>User Form</h2>
<table border='1'><tr>
 <td>  Name 			: </td><td>	<input type=text name='ClientName' id='ClientName' /><br></td> 
 <td>  Email 			: </td><td>	<input type=text name='ClientEmail' id='ClientEmail'/><br></td> 
  </tr><tr>
  <td> MetaMass Address		: </td><td>	<input type=text name='ClientAddress' id='ClientAddress'/><br></td> 
  <td> Amount Need to Invest (in ethers)	: </td><td>	<input type=text name='amount' id='amount' /><br></td> 
  </tr>
  <tr><td><button>Invest On Property</button>  <br></td></tr>
</table>
  <br>
  <br>
  <br>
  <br><br>
</template>

<template name="checkGoalReached">
  Check if fund is raised ?<button>Check</button> 
  <br>
  <br>
  <br>
  <br><br>  
</template>

<template name="payBackToClients">
  Percent(%)amount to Pay back	: 	<input type=text id='percent' name='percent' /><button>Payback</button>  
  
</template>